@font-face {
    font-family: 'basis-grotesque-medium';
    src: url('../assets/fonts/basis-grotesque-medium.eot');
    src: url('../assets/fonts/basis-grotesque-medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/basis-grotesque-medium.woff') format('woff'),
         url('../assets/fonts/basis-grotesque-medium.woff2') format('woff2'),
         url('../assets/fonts/basis-grotesque-medium.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'gt-america-mono-regular';
    src: url('../assets/fonts/GT-America-Mono-Regular.eot');
    src: url('../assets/fonts/GT-America-Mono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/GT-America-Mono-Regular.woff') format('woff'),
         url('../assets/fonts/GT-America-Mono-Regular.woff2') format('woff2'),
         url('../assets/fonts/GT-America-Mono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    font-family: "basis-grotesque-medium", "Open Sans", sans-serif !important;
    font-weight: 100;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    width: auto;
}

#root {
    height: 100%;
}

h1, h5 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

a a:visited {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

hr {
    width: 20%;
    left: 0;
    position: relative;
    margin-right: 80%;
}


.alert-primary {
    color: #fff;
    background-color: #1e65f3;
    border-color: #b8daff;
    font-family: gt-america-mono-regular;
    text-align: center;
    font-size: 18px;
}

.alert-primary a {
    text-decoration: underline;
    margin-left: 11px;
}

#NCmain {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 75vh;
}

.NC-buttonBox svg {
    margin: 0 30px 10px 30px;
}

.NC-buttonBox .btn {
    border-radius: 12px;
}

.navbar-brand {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.nav-link {
    display: block;
    padding: 0.5rem 2rem;
}

.navbar-nav{
    flex-direction: row;
    white-space: nowrap;
    justify-content: end;
    font-family: "gt-america-mono-regular", "Open Sans", sans-serif
}

@media (min-width: 992px){

    .navbar-expand-lg .navbar-collapse {
        display: inline-block!important;
    }
}

#wallet-button {
    max-width: 180px;
    min-width: 180px;
    padding: 11px;
}

.circleQ {
    padding-left: 8px;
    margin-top: -1px;
}

.circleQ svg{
    stroke: #1E65F3;
}

.bluebg .circleQ svg {
    stroke: white;
}

.bluebg .circleQ svg circle {
    stroke: white;
}

#remaining-time {
    margin-left: 2px;
}

/*New Worker Selection*/

#stake-method-selector {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    border-radius: 24px;
}

#clear-selection {
    height: 12px;
}

.new-stake-method {
    border-radius: 16px;
    width: 33%;
}


.collect-worker {
    max-width: 608px;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    border-radius: 6px;
    background-color: #ffffff;
}

.collect-worker input {
    background-color: #f3f4f4;
    outline: 4px solid #f3f4f4;
    box-shadow: none;
    border-radius: 6px;
    border: none;
    margin-left: 6px;
    width: 100% !important;
    padding: 17px 25px 17px 24px;
}

#worker-runway {
    padding: 6px 3rem 24px 2rem;
}

.collect-worker.valid {
    background-color: #e9edf0;
}

.form-control.valid:focus {
    background-color: transparent;
}

.collect-worker input.valid{
    outline: none;
    border: none;
    background-color: transparent;
}

.form-control:focus {
    color: #495057;
    background-color: #f3f4f4;
    outline: 4px solid #f3f4f4;
    box-shadow: none;
    border: 2px solid #1E65F3;
    border-radius: 6px;
}

.collect-worker .form-group, .form-control {
    width: 100%;
    background-color: #e9edf0;
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 0;
}

.collect-worker button {
    margin-left: -5em;
    margin-top: -4px;
}

.collect-worker-label {
    color: #828A9C;
}

.reward-button {
    min-height: 64px;
    display: flex;
    justify-content: center;
}

.badge-secondary {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #828A9C;
    border-radius: 6px;
}

.accordion {
    overflow-anchor: none;
    width: 100%;
    border-radius: 0;
    margin-bottom: 4em;
}

.card-header {
    padding-top: 2em;
    height: 88px;
    margin-bottom: 0;
    background-color: #F3F4F4;
    border-bottom: 1px solid #E0E4E8;
    border-radius: 0;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
}

.card-header .faq-plus {
    background-image: url("icons/blue-plus.svg");
    height: 20px;
    width: 20px;
}

.card-header > .faq-plus:hover {
    background-image: url("icons/plus-hover.svg");
}

.card-header .faq-minus {
    background-image: url("icons/blue-minus.svg");
    height: 20px;
    width: 20px;
}

.card-header > .faq-minus:hover {
    background-image: url("icons/minus-hover.svg");
}


.accordion .card-body {
    font-family: "Open Sans";
    flex: 1 1 auto;
    min-height: 1px;
    font-weight: 100;
    padding: 2em 3rem 3rem;
}

#self-hosted-accordian .card {
    background-color: #F3F4F4;
    border-top: 1px solid #E0E4E8;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: none;
}

.control-box {
    line-height: 2em;
    padding: 24px !important;
}

.settings-button {

}

#substake-control {
    padding-top: 1rem;
}

.substake {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #D4D4D4;
    text-align: left;
    padding: 0.2rem;
}


#substake-control-buttons {
    margin-bottom: 0.8rem;
}

#substake-control-buttons button {
    justify-content: center;
    display: flex;
    align-content: center;
}

#substake-list-header {
    color: #828A9C;
}

#substake-control table{
    width: 100vw;
    height: 100vh;

}

#homeSVG {
    /* max-width: 100%; */
    overflow: auto;
}

.breadcrumb {
    background: none;
}

table.nc-table {
    border-spacing: 1px;
    margin: 1px;
}

.nc-table tbody tr {
    border: 1px solid transparent;
}

.nc-table tbody tr:hover {
    border: 1px solid #1E65F3;
    margin-top: 1px;
}

table.nc-table2 th:nth-child(1), table.nc-table2 td:nth-child(1) {
    width: 80%
}

.nc-table td:first-child, .nc-table th:first-child {
    padding-left: 30px;
}

.card {
    border-radius: 12px;
}

.breadcrumb-item {
    white-space: nowrap;
    margin-left: 4px;
    margin-right: 4px;
}

.biglink a {
    width: 100%;
}

.nowrap {
    white-space: nowrap
}

.w100{
    width:100%;
}

/*Event History */

#historyLabel {
    margin-top: 6rem;
    margin-bottom: 3em;
    font-weight: 600;
    margin-left: -2em;
}

#eventHistory > nav {
    display: flex;
    justify-content: center;
    background: none;
}

#eventHistory table {
    border-top: 1px solid #E0E4E8;
    margin-top: 1px;
}

#eventHistory th {
    color: #828A9C;
    font-weight: 400;
    padding: 1.5rem 1rem 1rem;
}

#eventHistory td {
    padding: 18px;
}

#eventHistory tr:hover:not(:first-child) {
    border: 1px solid #1E65F3;
}

#eventHistory > nav .active {
    border-bottom: 4px solid #1E65F3;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-radius: 3px;
}

#eventHistory .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: none;
    border: none;
}

#eventHistory .nav-tabs .nav-item.show .nav-link, .nav-tabs {
    background: none;
    border: none;
    color: #1E65F3;
}

.table-striped thead {
    background-color: #F3F4F4;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(2n+2) {
    background-color: #F3F4F4;
}

#eventHistory .table-light {
    background-color: #f3f4f4;
}

#eventHistory .table-dark {
    color: #fff;
    background-color: #1d1d21;
}

#eventHistory .table-dark thead {
    background-color: #1D1D21;
}

#eventHistory .table-dark.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #19191C;
}

#eventHistory .table-dark.table-striped tbody tr:nth-of-type(2n+2) {
    background-color: #1D1D21;
}


/*Network Graph*/

#chart-container {
    width: 100%;
}

#timeframe-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 0.5vw;
    background-color: inherit;
}

#timeframe-buttons button {
    font-size: 12px;
    padding: 2px;
    width: 62px;
    height: 30px;
    border-radius: 6px;
    margin-left: 2px;
}

#timeframe-buttons button .active {
    /*color: #00A000;*/
}


/*Footer*/

.footer {
    padding: 5em;
    background-color: black;
    color: white;
    min-height: 15em;
    font-family: gt-america-mono-regular;
}

.footer span {
    font-weight: 900;
}


.footer ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    line-height: 3rem;
}


.footer ul > li {
    color: #1E65F3;
    font-weight: 600;
    margin-top: 2vh;
    font-size: 18px;
}

#copyright-year {
    position: absolute;
    bottom: .1rem;
    font-weight: 100;
    left: 2rem;
    color: #828A9C;
}

.eth-address{
    display:inline-block;
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
}

.typeover{
    cursor:pointer
}
