@font-face {
    font-family: 'basis-grotesque-medium';
    src: url('../assets/fonts/basis-grotesque-medium.eot');
    src: url('../assets/fonts/basis-grotesque-medium.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/basis-grotesque-medium.woff') format('woff'),
         url('../assets/fonts/basis-grotesque-medium.woff2') format('woff2'),
         url('../assets/fonts/basis-grotesque-medium.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'gt-america-mono-regular';
    src: url('../assets/fonts/GT-America-Mono-Regular.eot');
    src: url('../assets/fonts/GT-America-Mono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../assets/fonts/GT-America-Mono-Regular.woff') format('woff'),
         url('../assets/fonts/GT-America-Mono-Regular.woff2') format('woff2'),
         url('../assets/fonts/GT-America-Mono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#root {
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "basis-grotesque-medium", "Open Sans", sans-serif !important;
    font-weight: 100;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: auto;
    width: auto;
}

h1, h5 {font-weight: 600;}
a {text-decoration: none; color: inherit;}
a a:visited {text-decoration: none; color: inherit;}
a:hover {text-decoration: none;}

hr {
    width: 20%;
    left: 0;
    position: relative;
    margin-right: 80%;
}

.preformatted {
    font-family: 'Open Sans', sans-serif;
    white-space: pre-wrap;
}

.preformatted a {
    text-decoration: underline;
}

/*Alert*/

.alert-primary {
    color: #fff;
    background-color: #7038F1;
    font-family: gt-america-mono-regular, monospace;
    text-align: center;
    font-size: 18px;
    border: none;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    /*background-image: url("https://threshold.network/static/media/Swoosh.9da782f3.svg");*/
    background-position-y: 20em;
    background-blend-mode: multiply;
    background: rgba(0, 0, 0, 0) linear-gradient(130.52deg, rgb(125, 0, 255) 0%, rgb(127, 0, 172) 100%) repeat scroll 0% 0%;
}


.alert-primary a {
    text-decoration: underline;
    margin-left: 11px;
}

.toast {
    margin-right: 2em;
    border-radius: 5px;
}

#NCmain {
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 75vh;
}

.NC-buttonBox svg {
    margin: 0 30px 10px 30px;
}

.NC-buttonBox .btn {
    border-radius: 12px;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-image: url("../assets/icons/hamburger-light.svg") !important;
    border: none !important;
}

.navbar-brand {
    font-size: 16px;
    display: flex;
    align-items: center;
}

.navbar-nav .nav-link {
    padding-right: 3.5rem;
    padding-left: .5rem;
    font-family: "gt-america-mono-regular", "Open Sans", sans-serif
}

#tiny-wallet {
    margin-left: auto;
    padding-right: 1em;
    display: none;
}

@media (min-width: 992px){

    .navbar-expand-lg .navbar-collapse {
        display: inline-block!important;
    }

    .nav-link {padding-right: 3em!important;}

    .container-fluid {
        max-width: 1200px;
        width: 80% !important;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 768px){

    .container-fluid {
        max-width: 760px;
        width: 90% !important;
        padding-left: 10px;
        padding-right: 10px;
    }

    .nav-link {padding-right: 0!important;}
    #footer-logo { display: none }

}

@media (max-width: 576px) {

    .container-fluid {
        max-width:100% !important;
        padding-left:0;
        padding-right:0;
    }

    #tiny-wallet {display: inline;}

    #stats {
        display: flex;
        justify-content: flex-start !important;
        flex-direction: column;
        height: 10em;
        padding-left: 1em;
    }

    #footer-logo { display: none }

}


@media (max-width: 500px) {
    #substake-control-buttons.d-flex{
        display:block !important;
    }

    #substake-control-buttons>div{
        width:100%;
    }
}

#primer {
    width: 90%;
    font-size: 20px;
    font-family: "basis-grotesque-medium", "Open Sans", sans-serif;
    text-align: center;
    padding: 2em;
    padding-left: 5em;
}

#wallet-button {
    max-width: 190px;
    min-width: 180px;
    padding: 11px;
}

.circleQ {
    padding-left: 8px;
    margin-top: -1px;
}

.circleQ svg{
    stroke: #1E65F3;
}

.bluebg .circleQ svg {
    stroke: white;
}

.bluebg .circleQ svg circle {
    stroke: white;
}

button:disabled .circleQ svg {
    opacity: .5;
}

#remaining-time {
    margin-left: 2px;
}

/*New Worker Selection*/

#stake-method-selector {
    display: flex;
    justify-content: space-around;
    border-radius: 24px;
    max-width: 40em;
    width: 100%;
}

#clear-selection {
    height: 12px;
}

.new-stake-method {
    border-radius: 16px;
}

.assetDisplay {
    display: flex;
    align-items: center;
    justify-content: left;
    left: 0;
    margin-bottom: 0.5em;
}

#disclaimer {
    /*color: white;*/
    /*background-color: #6B32D8;*/
    /*background: rgba(0, 0, 0, 0) linear-gradient(130.52deg, rgb(125, 0, 255) 0%, rgb(127, 0, 172) 100%) repeat scroll 0% 0%;*/

    color: #1E65F3;
    border: 1px solid #1E65F3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1em;
    margin-bottom: 0;
    padding: 1em;
}

#disclaimer svg {
    width: 100%;
    height: auto;
    max-height: 1.5em;
}

#disclaimer small {
    margin-left: 1em;
}

.ratio {
    display: flex;
}

.ratio img {
    opacity: 0.5;
}

.conversionHint {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conversionHint .from {
    border: 1px solid;
    border-radius: 90px;
}

.conversionHint span {
    margin-right: 1em;
}

.assetDisplay img {
    margin-right: 1em;
}

#keep-button {
    color: #48dbb4;
    background-color: black;
    border-color: black;
}

#keep-button .conversionArrow {
    filter: invert(100%);
}

.contractIcon {
    width: 1em;
    height: 100%;
    opacity: 0.3;
    margin-left: 0.5em;
    margin-top: -3px;
}


.contractIcon:hover {
    opacity: 0.5;
}


.collect-worker {
    max-width: 608px;
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    border-radius: 6px;
    background-color: #ffffff;
}

.collect-worker input {
    background-color: #f3f4f4;
    outline: 4px solid #f3f4f4;
    box-shadow: none;
    border-radius: 6px;
    border: none;
    margin-left: 6px;
    width: 100% !important;
    padding: 17px 25px 17px 24px;
}

#worker-runway {
    padding: 6px 3rem 24px 2rem;
}

.collect-worker.valid {
    background-color: #e9edf0;
}

.form-control.valid:focus {
    background-color: transparent;
}

.collect-worker input.valid{
    outline: none;
    border: none;
    background-color: transparent;
}

.form-control:focus {
    color: #495057;
    background-color: #f3f4f4;
    outline: 4px solid #f3f4f4;
    box-shadow: none;
    border: 2px solid #1E65F3;
    border-radius: 6px;
}

.collect-worker .form-group, .form-control {
    width: 100%;
    background-color: #e9edf0;
    border-radius: 6px;
    padding: 24px;
    margin-bottom: 0;
}

.collect-worker button {
    margin-left: -5em;
    margin-top: -4px;
}

.collect-worker-label {
    color: #828A9C;
}

.reward-button {
    min-height: 64px;
    display: flex;
    justify-content: center;
}

.button-or-spinner{
    /*min-height: 51px;*/
}

.badge-secondary {
    padding: 6px 10px;
    font-size: 14px;
    font-weight: bold;
    background-color: #828A9C;
    border-radius: 6px;
}

.accordion {
    overflow-anchor: none;
    width: 100%;
    border-radius: 0;
    margin-bottom: 4em;
}

.card-header {
    padding-top: 2em;
    height: 88px;
    margin-bottom: 0;
    background-color: #F3F4F4;
    border-bottom: 1px solid #E0E4E8;
    border-radius: 0;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: space-between;
}

.card-header b {
    max-width: 90%;
}

.card-header .faq-plus {
    background-image: url("icons/blue-plus.svg");
    height: 20px;
    width: 20px;
}

.card-header > .faq-plus:hover {
    background-image: url("icons/plus-hover.svg");
}

.card-header .faq-minus {
    background-image: url("icons/blue-minus.svg");
    height: 20px;
    width: 20px;
}

.card-header > .faq-minus:hover {
    background-image: url("icons/minus-hover.svg");
}


.accordion .card-body {
    font-family: "Open Sans";
    flex: 1 1 auto;
    min-height: 1px;
    font-weight: 100;
    padding: 2em 3rem 3rem;
}

#self-hosted-accordian .card {
    background-color: #F3F4F4;
    border-top: 1px solid #E0E4E8;
    border-left: none;
    border-right: none;
    border-radius: 0;
    border-bottom: none;
}

.control-box {
    line-height: 2em;
    padding: 24px !important;
}

.settings-button {

}

#substake-control {
    padding-top: 1rem;
}

.substake {
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid #D4D4D4;
    text-align: left;
    padding: 0.2rem;
}


#substake-control-buttons {
    margin-bottom: 0.8rem;
    flex:nowrap;
}

#substake-control-buttons>div{
    flex-grow: 10;
    margin:1px;
    white-space:nowrap;
}

#substake-control-buttons button {
    justify-content: center;
    display: flex;
    align-content: center;
    font-size:.8em;
}

#substake-list-header {
    color: #828A9C;
}

#substake-control table{
    width: 100vw;
    height: 100vh;

}

.form-check-input {
    position: absolute;
    margin-top: .3rem;
    margin-left: 0;
    margin-right: 0;
}

#homeSVG {
    /* max-width: 100%; */
    overflow: auto;
}

.breadcrumb {
    background: none;
}

table.nc-table {
    border-spacing: 1px;
    margin: 1px;
}

.nc-table tbody tr {
    border: 1px solid transparent;
}

.nc-table tbody tr:hover {
    border: 1px solid #1E65F3;
    margin-top: 1px;
}

table.nc-table2 th:nth-child(1), table.nc-table2 td:nth-child(1) {
    width: 80%
}

.nc-table td:first-child, .nc-table th:first-child {
    padding-left: 30px;
}

.card {
    border-radius: 12px;
}

.breadcrumb-item {
    white-space: nowrap;
    margin-left: 4px;
    margin-right: 4px;
}

.biglink a {
    width: 100%;
}

.nowrap {
    white-space: nowrap
}

.w100{
    width:100%;
}

/*Event History */

#historyLabel {
    margin-top: 6rem;
    margin-bottom: 3em;
    font-weight: 600;
    margin-left: -2em;
}

#eventHistory > nav {
    display: flex;
    justify-content: center;
    background: none;
}

#eventHistory table {
    border-top: 1px solid #E0E4E8;
    margin-top: 1px;
}

#eventHistory th {
    color: #828A9C;
    font-weight: 400;
    padding: 1.5rem 1rem 1rem;
}

#eventHistory td {
    padding: 18px;
}

#eventHistory tr:hover:not(:first-child) {
    border: 1px solid #1E65F3;
}

#eventHistory > nav .active {
    border-bottom: 4px solid #1E65F3;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-radius: 3px;
}

#eventHistory .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: none;
    border: none;
}

#eventHistory .nav-tabs .nav-item.show .nav-link, .nav-tabs {
    background: none;
    border: none;
    color: #1E65F3;
}

.table-striped thead {
    background-color: #F3F4F4;
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(2n+2) {
    background-color: #F3F4F4;
}

#eventHistory .table-light {
    background-color: #f3f4f4;
}

#eventHistory .table-dark {
    color: #fff;
    background-color: #1d1d21;
}

#eventHistory .table-dark thead {
    background-color: #1D1D21;
}

#eventHistory .table-dark.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: #19191C;
}

#eventHistory .table-dark.table-striped tbody tr:nth-of-type(2n+2) {
    background-color: #1D1D21;
}


/*Network Graph*/

#stats {
    display: flex;
    font-size: 30px;
}

#chart-container {
    width: 100%;
}

#timeframe-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-right: 0.5vw;
    background-color: inherit;
}

#timeframe-buttons button {
    font-size: 12px;
    padding: 2px;
    width: 62px;
    height: 30px;
    border-radius: 6px;
    margin-left: 2px;
}

#timeframe-buttons button .active {
    /*color: #00A000;*/
}


/*Footer*/

.footer {
    padding: 5em;
    background-color: black;
    color: white;
    min-height: 15em;
    font-family: gt-america-mono-regular, monospace;
    /*display: flex;*/
    width: 100%;
    margin: 0;
}

.footer span {
    font-weight: 900;
}

#footer-logo {
    margin-top: -0.7em;
    font-size: 12px;
}

.footer ul {
    text-decoration: none;
    list-style: none;
    padding: 0;
    line-height: 3rem;
}


.footer ul > li {
    color: #1E65F3;
    font-weight: 600;
    margin-top: 2vh;
    font-size: 18px;
}

#copyright-year {
    position: absolute;
    bottom: .1rem;
    font-weight: 100;
    left: 2rem;
    color: #828A9C;
}

.eth-address{
    display:inline-block;
    width:100%;
    overflow:hidden;
    text-overflow: ellipsis;
}

.typeover, .hover{
    cursor:pointer
}

.thresholdwordmark {
    width: 60%;
}
